[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
algoliasearch-django = ">=2.0,<3.0"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
requests = "*"
django-cors-headers = "*"
Django = ">=4.0.0,<4.1.0"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.9"
